.navbar.bg-light {
  background-color: darkred !important;
}

.navbar.navbar-light .navbar-brand {
  color: rgba(244,244,244,1) !important;
}

.navbar.navbar-light .navbar-toggler {
  border-color: rgba(244,244,244,.7) !important;
}

.navbar.navbar-light .navbar-nav .nav-link {
  color: rgba(244,244,244,.7) !important;
}

.pizza-club .jumbotron {
  background-image: url('http://lorempizza.com/800/400');
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: darkgreen;
  color: rgba(244,244,244,.7);
}

footer a {
  color: rgba(244,244,244,.7);
}

footer a:hover {
  color: rgba(244,244,244,.9);
}